<div id="data">
    <h1>About</h1>
</div>

<div id="content">
    <div id='per_img'><img src="../../../assets/img/about.jpg" height="350px"></div>
    <div id='about'>
        <h2>About Yared</h2>
        <h3>Guadalajara, Jal.</h3>
        <h3>CETI Software Development Engineer(studying)</h3>
        <div id="ability">
            <h4 id="h_tech">Technologies</h4>
            <ul id="tech">
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
                <li>Typescript</li>
                <li>Angular</li>
                <li>Node Js</li>
                <li>Express</li>
                <li>Mongo DB</li>
                <li>PHP</li>
                <li>MySQL</li>
                <li>C++</li>
                <li>GitHub</li>
                <li>Firebase</li>
            </ul>
            <h4 id="h_ot">Others</h4>
            <ul id="personal">
                <li>Español</li>
                <li>Inglés</li>
                <li>Francés</li>
                <li>Alemán</li>
                <li>Italiano</li>
                <li>Ordenado</li>
                <li>Responsable</li>
                <li>Honesto</li>
                <li>Respetuoso</li>
                <li>Trabajador</li>
                <li>Pasión tecnología</li>
            </ul>
        </div>
    </div>
</div>