<div id="contain">
    <div id="data">
        <h1><a [routerLink]="['/About']">Yared Del Toro</a></h1>
        <h2>Software Developer</h2>
    </div>
    <div id="content">
        <h3>Build your own software world.</h3>
        <h4>Explore and discover what software is able to do for you.</h4>
        <h4>Web Developer, Front End, Back End</h4>
        <p>Click below to get in touch:</p>
        <a [routerLink]="['/Contact']"><button>More Info</button></a>
        <div id="social">
            <a href="https://api.whatsapp.com/send?phone=3334008892">
                <fa-icon [icon]="faWhatsapp"></fa-icon>
            </a>
            <a href="https://www.facebook.com/yared.chavezdeltoro" target="_blank">
                <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
            <a href="https://twitter.com/yareddeltoro" target="_blank">
                <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
            <a href="https://www.instagram.com/yaredsct/" target="_blank">
                <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <a href="https://www.linkedin.com/in/yared-del-toro-41627a1b0/" target="_blank">
                <fa-icon [icon]="faLinkedIn"></fa-icon>
            </a>
            <a href="https://github.com/YSCT01" target="_blank">
                <fa-icon [icon]="faGithub"></fa-icon>
            </a>
        </div>
    </div>
</div>