<header>
    <div id="logoB">
        <a [routerLink]="['/']" id="logo"> Yared Del Toro </a>
        <button id="buttonM" [id]="button" (click)="menuOpen()">M</button>
    </div>
    <nav [ngClass]="{'openMenu': button}">
        <ul>

            <a [routerLink]="['/About']" routerLinkActive="activeLink">
                <li>About</li>
            </a>
            <a [routerLink]="['/Projects']" routerLinkActive="activeLink">
                <li>Projects</li>
            </a>
            <a [routerLink]="['/Contact']" routerLinkActive="activeLink">
                <li>Contact</li>
            </a>

        </ul>

    </nav>
    <div id="clearfix"></div>
</header>
<div id="container">
    <router-outlet></router-outlet>
</div>
<footer>
    Yared Del Toro Blog &copy;
</footer>