header {
    margin: 0px;
    padding: 0px;
    background-color: rgb(233, 233, 233);
    width: 100%;
    height: 75px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 35% 45%;
    justify-content: space-between
}

header nav {
    display: grid;
    grid-template-columns: auto auto auto;
    transition: 400ms;
    justify-content: space-evenly;
}

header nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 75px;
    text-align: center;
    list-style: none;
}

header nav ul a {
    width: 120px;
    height: 75px;
    margin-right: 25px;
    text-decoration: none;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    transition: 400ms;
}

header button {
    display: none;
    width: auto;
    margin-right: 65px;
    text-decoration: none;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    transition: 400ms;
    float: right;
}

header nav ul a:hover {
    background-color: rgb(12, 0, 78);
    color: white;
}

.activeLink,
.activeLink li {
    background-color: rgb(12, 0, 78);
    color: white;
}

#logoB {
    padding-top: 23px;
    padding-left: 35px;
    transition: 400ms;
}

a#logo {
    width: auto;
    height: 75px;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 23px;
    color: black;
    transition: 400ms;
}

#logo:hover {
    padding-top: 17px;
    font-size: 30px;
    color: rgb(0, 0, 112);
}

header button {
    border: none;
    background: none;
}

header nav ul a li {
    padding-top: 23px;
}

header button:hover {
    font-size: 28px;
}

#container {
    width: 100%;
    height: 515px;
    margin-top: 0;
}


/*-------------------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------------------*/

footer {
    display: block;
    height: 32px;
    padding: 0px;
    margin: 0px;
    background-color: rgba(209, 209, 209, 0.87);
    font-size: 25px;
    font-family: Arial;
    color: Black;
    text-align: center;
    padding-top: 4px;
}

#clearfix {
    clear: both;
}


/*-------------------------------------------------------------------------------------------------------------*/

@media (max-width:750px) {
    header {
        grid-template-columns: 60% 10%;
        justify-content: space-between;
    }
    #logoB {
        width: 100%;
        margin-bottom: 18px;
    }
    header nav {
        background-color: rgba(233, 233, 233, 0.897);
        display: none;
        height: 270px;
        width: 100%;
    }
    header nav ul {
        display: block;
        text-align: left;
        margin-left: 10px;
        margin-top: 25px;
    }
    header nav ul a {
        display: block;
        width: 85%;
        border-radius: 3px;
    }
    header button {
        display: block;
    }
    header .openMenu {
        margin-top: 75px;
        display: block;
        position: fixed;
    }
    #container {
        height: 550px;
    }
}

@media (max-width:500px) {
    #container {
        height: 550px;
    }
}